<!-- trecias variantas -->
<!--<h1 [ngStyle]="{-->
  <!--'color': h1Style ? 'gray' : 'black',-->
  <!--'font-size': !h1Style ? '1em' : '4em'-->
<!--}">Home</h1>-->

<!-- /antras variantas -->
<!-- <h1 [style.color]="h1Style ? 'gray' : 'black'">Home</h1> -->

<!-- pirmas variantas
<h1 [ngClass]="{
  'gray': h1Style,
  'large': !h1Style
}">Home</h1> -->


<!--<button (click)="firstClick()">Click me</button>-->

<h1>Home</h1>
<!-- // ngIf - rodys jei yra data viduj -->
<ul *ngIf ="users">
  <!-- ngFor - iteracija objectu -->
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p>{{ user.first_name }}  {{ user.last_name }}</p>
  </li>
</ul>

